.button {
    background: #9aca3c;
    border-radius: 2px;
    padding: 12px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    border: 0;
    margin-top: 16px;
    margin-left: 2px;
}
