.Aside {
  flex: 1;
  height: 100vh;
  border-right: 1px solid black;
  max-width: 500px;
  width: 100%;

  &-Cont {
    display: flex;
    flex-direction: column;
    padding: 100px;
    ul {
      li {
        padding: 10px;
      }
    }
  }
}