.input {
  background: #ffffff;
  border: 1px solid rgba(22, 22, 22, 0.22);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 12px 16px;
  font-size: 13px;
  line-height: 16px;
  color: rgba(22, 22, 22, 0.48);
  width: 100%;
  margin-top: 16px;
}

.Submit {
  background: #9aca3c;
  border-radius: 2px;
  padding: 12px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  width: 100%;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  // margin-top: 16px;
}
